<p>Merchant Name: <%= Merchant.find(@transaction.merchant_id).name %></p>
<p>Merchant ID: <%= @transaction.merchant_id%></p>
<p>Purchase Tag: <%= Tag.find(@transaction.tag_id).type %></p>
<p>Tag ID: <%= @transaction.tag_id %></p>
<p>Amount: £<%= @transaction.amount %></p>

<form action="/transactions/<%=@transaction.id%>/delete" method="post">
  <input type="submit" value="Delete Transaction">
</form>

<p><a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a></p>
